@import "tailwindcss";

:root {
    --font-family: "Cinzel", serif;
    --background: #FDF9F7;
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
}

.custom-swiper .swiper-pagination-bullet {
    background-color: #F3A279 !important;
    opacity: 0.5;
}

.custom-swiper .swiper-pagination-bullet-active {
    background-color: #EB6420 !important;
 
    opacity: 1;
}

.custom-swiper .swiper-pagination-bullet {
    width: 40px;
    height: 6px;
    border-radius: 9999px;
}